<nav>
	<div>
		<ul id='notifications'>
			{{#each notifications}}
			{{#ifEq type "req"}}
			<li id='{{orderID}}'>
				<a href="/user/{{user}}">{{userName}}</a> has invited you to his order.
				{{#ifEq myStatus "waiting"}}
				{{#ifEq status "waiting"}}
				<a href="/order/{{orderID}}/accept">Join</a>
				{{else}}
				<a href="/order/{{orderID}}">Finished</a>
				{{/ifEq}}
				{{else}}
				<a href="/order/{{orderID}}">Joined</a>
				{{/ifEq}}
			</li>
			{{else}}
			<li>
				<a href="/user/{{user}}">{{userName}}</a> has accepted invitation to <a href="/order/{{orderID}}">your order</a>.
			</li>
			{{/ifEq}}
			{{/each}}
		</ul>
	    <div>
	        <a href="/notifications">View all notifications</a>
	    </div>
	</div>
</nav>
