<!-- Friends Label -->
<div class="container">
    <h2><p class="text-left"><span class="label label-default">Groups</span></p></h2>
</div>
<!-- // Friends Label -->

<!-- Friend Email -->
<div class="container">
    <form class="form-inline" method="post">
      <div>
            <label for="groupName" style="color: white; font-size: 16px">Group Name</label>
            <input type="text" class="form-control" name="add-group" placeholder="Example: Best Friends" required="">
            <input type="submit" class="btn btn-default" name="add-group-submit" value="Add Group">
        </div>
    </form>
</div>
<!-- // Friend Email -->

<!-- Friends List Container  -->
<BR><div class="container">
    <div class="row">
        <!-- List Of Groups -->
        <div class="col-md-4">
            <div class="panel panel-primary-custom">
                  <div class="panel-heading">
                    <h3 class="panel-title">My Groups</h3>
                  </div>
                  <div class="panel-body fixed-panel">
                        <h4>
                            <ul>
                                {{#eachKey user.groups}}
                                <li>
                                    <a href="/group/{{.}}" style="color:#d4d8d7;margin-right: 25px">{{.}}</a>
                                    <a href="/group/{{.}}"><span style="color:#06547a;margin-right: 15px" class="glyphicon glyphicon-plus"></a></span></a>
                                    <a href="/group/{{.}}/delete"><span style="color:#930808" class="glyphicon glyphicon-remove"></span></a>
                                </li><BR>
                                {{/eachKey}}
                            </ul>
                        </h4>
                  </div>
            </div>
        </div>
    <!-- // List Of Groups -->

    <!-- Friends List -->
    <div class="col-md-8">
        <div class="panel panel-primary-custom">
          <div class="panel-heading">
            <h3 class="panel-title">Group Name</h3>
          </div>
          <div class="panel-body fixed-panel">
                <div class="row">
                    <!-- Add Friend To Group Form -->
                        <form class="form-inline" method="post">
                          <div>
                                <label for="friendEmail" style="color: white; font-size: 14px">Friend Email</label>
                                <input type="email" class="form-control" name="group-add-friend" placeholder="Eng.MhmdKhalil@gmail.com" required="">
                                <input type="submit" class="btn btn-default" name="group-add-friend-submit" value="Add Friend">
                            </div>
                        </form><BR>
                    <!-- // Add Friend To Group Form -->

                    <!-- List Of Group Members -->
                    {{#each members}}
                    <div class="col-md-3">
                      <div class="thumbnail">
                              <div class="caption">
                                  <a href="/user/{{_id}}"><h5>{{name}}</h5></a>
                              </div>
                        <a href="/user/{{_id}}"><img src="/uploads/{{imageUrl}}" style="width: 100px; height: 100px"></a>
                        <div class="caption">
                          <p><a href="/group/{{@root.groupID}}/{{_id}}/remove" class="btn btn-danger" role="button">Remove</a>
                        </div>
                      </div>
                    </div>
                    {{/each}}

                    <!-- // List Of Group Members -->
                </div>
          </div>
        </div>
        <!-- // Friends List -->
    </div>
</div>
<!-- // Friends List Container -->
