{{> user/nav}}
<div>
    <h2>My Groups</h2>
    {{#eachKey user.groups}}
    <div>
        <a href="/group/{{.}}">{{.}}</a>
		<a href="/group/{{.}}">Add Friend</a>
		<a href="/group/{{.}}/delete">Delete</a>
    </div>
    {{/eachKey}}
    <!-- <div>
        \{{groups}}
		<a href="#">Add Friend</a>
		<a href="#">Delete</a>
    </div> -->
</div>
