{{> user/nav}}
<div>
    <h2>My Groups</h2>
    <form method="post">
        <div>
            <label>Your Group Name</label>
            <input type="text" name="add-group">
            <input type="submit" name="add-group-submit" value="Add Group">
        </div>
    </form>
    {{#eachKey user.groups}}
    <div>
        <a href="/group/{{.}}">{{.}}</a>
		<a href="/group/{{.}}">Add Friend</a>
		<a href="/group/{{.}}/delete">Delete</a>
    </div>
    {{/eachKey}}
</div>
<div>
    <h2>{{groupID}}</h2>
    <div>
		<form method="post">
			<div>
				<label>Your Friend Name</label>
				<input type="text" name="group-add-friend">
				<input type="submit" name="group-add-friend-submit" value="Add">
			</div>
		</form>
		<div>
            {{#each groupMembers}}
            {{.}} <a href="/group/{{@root.groupID}}/{{.}}/remove">remove</a><br>
            {{/each}}
    </div>
</div>
