<div class="container">
    <div class="row">
        <!-- Latest Orders -->
        <div class="col-md-6">
            <div class="panel panel-primary-custom">
                  <div class="panel-heading">
                    <h3 class="panel-title">Latest Orders</h3>
                  </div>
                  <div class="panel-body fixed-panel">
                        <h4>
                            <dl>
                                {{#each orders}}
                                <dt><a href="/order/{{_id}}"><span class="label label-primary">{{type}}</span></a></dt>
                                    <dd>- From {{restaurant}} On {{createdAt}}</dd>
                                {{/each}}
                            </dl>
                    </h4>
                  </div>
            </div>
        </div>
        <!-- // Latest Orders -->

        <!-- Friends Activity -->
        <div class="col-md-6">
            <div class="panel panel-primary-custom">
              <div class="panel-heading">
                <h3 class="panel-title">Friends Activity</h3>
              </div>
              <div id="activity" class="panel-body fixed-panel">
                    <h4>
                        <dl>
                            {{#each friendsActivity}}
                                <dt><a href="/user/{{owner}}"><span class="label label-primary">{{name}}</span></a></dt>
                                    <dd>- has created an order for {{type}} from {{restaurant}}</dd>
                            {{/each}}
                        </dl>
                    </h4>
                </div>
            </div>
        </div>
        <!-- // Friends Activity -->
    </div>
</div>
