{{> user/nav}}
<div>
    <h2>Latest Orders</h2>
    <div>
        <ul>
        {{#each orders}}
            <li><a href="/order/{{_id}}">{{type}} from {{restaurant}}</a></li>
        {{/each}}
        </ul>
    </div>
</div>
<div>
    <h2>Friends' Activity</h2>
    <div>
    {{#each friendsActivity}}
        <a href="/profile/{{owner}}">{{owner}}</a> made an order for {{type}} from {{restaurant}}<br>
    {{/each}}
    </div>
</div>
