{{> user/nav}}
<h1>Orders</h1>
<a href="/order-new">Start New Order</a>
<table>
	<thead>
		<tr>
			<th>Order</th>
			<th>Restaurant</th>
			<th>Invited</th>
			<th>Joined</th>
			<th>Status</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	{{#each orders}}
	<tr>
		<td>{{type}}</td>
		<td>{{restaurant}}</td>
		<td>\{{invited}}</td>
		<td>\{{joined}}</td>
		<td>{{status}}</td>
		<td>
			<a href="/order/{{_id}}">View</a>
			<a href="#">Finish</a>
			<a href="#">Cancel</a>
		</td>
	</tr>
	{{/each}}
	</tbody>
</table>
