Owner: {{order.owner}}<br>
Type: {{order.type}}<br>
Restaurant: {{order.restaurant}}<br>
Status: {{order.status}}<br>
<table>
	<thead>
		<tr>
			<th>Person</th>
			<th>Item</th>
			<th>Amount</th>
			<th>Price</th>
			<th>Comment</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	{{#each order.orders}}
		<tr>
			<td>{{owner}}</td>
			<td>{{item}}</td>
			<td>{{amount}}</td>
			<td>{{price}}</td>
			<td>{{comment}}</td>
			<td><a href="/order/{{{@root.order._id}}}/{{_id}}/delete">Delete</a></td>
		</tr>
	{{/each}}
	</tbody>
</table>
<form method="post">
	<div>
		<label>Item</label>
		<input type="text" name="order-item">
	</div>
	<div>
		<label>Amount</label>
		<input type="number" min="0" name="order-amount">
	</div>
	<div>
		<label>Price</label>
		<input type="number" min="0" step=".5" name="order-price">
	</div>
	<div>
		<label>Comment</label>
		<input type="text" name="order-comment">
	</div>
	<input type="submit" value="Add">
</form>
