<!DOCTYPE html>
<html>
	<head>
		<!-- Meta & Tag Words -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Yala Notlob - {{user.name}}</title>
		<!-- Style-CSS -->
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" media="all" />
		<link rel="stylesheet" href="/assets/css/font-awesome.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="/assets/js/app.js" charset="utf-8"></script>
	</head>
	<body>
		<script src="/assets/js/jquery-3.2.1.min.js"></script>
		{{> user/nav}}
		<div class="center-container">

							<!-- Nav Bar -->
							<nav class="navbar navbar-inverse">
							  <div class="container-fluid">
							    <div class="navbar-header">
							      <a class="navbar-brand" href="/">YALA NOTLOB</a>
							    </div>

									<!-- Left Side -->
							    <ul class="nav navbar-nav">
							      <li><a href="/">Home</a></li>
							      <li><a href="/friends">Friends</a></li>
							      <li><a href="/groups">Groups</a></li>
										<li><a href="/orders">Orders</a></li>
							    </ul>
									<!-- // Left Side -->

									<!-- Right Side -->
							    <ul class="nav navbar-nav navbar-right">
										<li>
											<div class="dropdown">
											  <button style="margin-top: 11px" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
											    <span class="glyphicon glyphicon-bullhorn"></span> <span class="badge"> 10 </span>
											  </button>
											  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width: 500px">
													<li style="padding: 3px 20px;">Notifications</li>
													<li role="separator" class="divider"></li>
													{{#each notifications}}
													{{#ifEq type "req"}}
													<li id='{{orderID}}'>
														{{#ifEq myStatus "waiting"}}
														{{#ifEq status "waiting"}}
														<a href="/order/{{orderID}}/accept">
															<img class="img-circle" style="width: 50px; height: 50px" src="/uploads/{{userImage}}">
															{{userName}} has invited you to his/her order. Click to Join
														</a>
														{{else}}
														<a href="/order/{{orderID}}">
															<img class="img-circle" style="width: 50px; height: 50px" src="/uploads/{{userImage}}">
															{{userName}} has invited you to his/her order. Finished
														</a>
														{{/ifEq}}
														{{else}}
														<a href="/order/{{orderID}}">
															<img class="img-circle" style="width: 50px; height: 50px" src="/uploads/{{userImage}}">
															{{userName}} has invited you to his/her order. Joined
														</a>
														{{/ifEq}}
													</li>
													{{else}}
													<li>
														<a href="/order/{{orderID}}">
															<img class="img-circle" style="width: 50px; height: 50px" src="/uploads/{{userImage}}">
															{{userName}} has accepted invitation to your order
														</a>
													</li>
													{{/ifEq}}
													<li role="separator" class="divider"></li>
													{{/each}}
													<li><a href="/notifications">View All Notifications</a></li>
												</ul>
											</div>
										</li>
										<li><a href="/profile"><img src="/uploads/{{user.imageUrl}}" class="profile-image img-circle responsive" style="width: 25px; height: 25px;">{{user.name}}</a></li>
							      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
							    </ul>
									<!-- // Right Side -->

							  </div>
							</nav>
							<!-- // Nav Bar -->
		    <BR><BR>
			{{{body}}}
		    <!-- Footer -->
		    <div class="footer">
		        <p>&copy; 2017 ITI INTAKE 37. All rights reserved | Design by <a href="https://www.facebook.com/groups/190513138041329/" target="_blank">Open Srouce Department</a></p>
		    </div>
		    <!--// Footer-->

		</div>
		<!-- // Center Container -->

		<!-- JS -->
		<!-- // JS -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="/assets/js/clientConfig.js" ></script>
		<script type="text/javascript" src="/assets/js/socketHandler.js" ></script>
	</body>
</html>
